body {
  margin: 0;
  padding: 0;

  min-width: 960px;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}


.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;

  box-sizing: border-box;
}

.main-header {
  margin-bottom: 59px;
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

/*--- Верхняя панель в хейдере ---*/

.main-header-panel {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
}

.main-header-panel {
  margin-bottom: 46px;
  display: flex;
  flex-wrap: wrap;
}

.main-header-wrapper {
  width: 100%;
  background-color: #293449;
}

.search-input,
.main-header-panel-bookmarks,
.main-header-panel-bookmarks-num,
.main-header-panel-basket,
.main-header-panel-basket-num,
.main-header-panel-makeorder {
  color: inherit;
  background-color: inherit;
}

.search-form {
  flex-grow: 1;

  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}

.search-input {
  border: 0;
  flex-grow: 1;
}

.search-label {
  padding: 12px 15px 0 17px;
}

.icon-search {
  opacity: 0.3;
  fill: #ffffff;
  background-color: transparent;
}

.search-input:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.search-input:hover ~ .search-label .icon-search {
  opacity: 1;
  background-color: transparent;
}

.search-input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-input:focus ~ .search-label {
  background-color: #ffffff;
}

.search-input:focus + .search-label .icon-search {
  opacity: 1;
  fill: #ee3643;
}

.search-input:active + .search-label .icon-search {
  opacity: 0.5;
  background-color: transparent;
}

.main-logo,
.bookmarks-no-empty {
  color: #ffffff;
  background-color: #ee3643;
}

.main-logo,
.main-header-panel-bookmarks,
.main-header-panel-basket,
.main-header-panel-makeorder {
  padding: 12px 20px;
}


.main-logo {
  margin-bottom: -5px;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.logo-footer {
  padding: 20px 55px 23px;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.main-logo:hover,
.main-logo:focus {
  color: #ffffff;
  background-color: #ca2c37;
}

.main-logo:active {
  color: #ffffff;
  background-color: #ba2732;
}

.search-input:hover,
.main-header-panel-bookmarks:hover,
.main-header-panel-bookmarks:focus,
.main-header-panel-basket:hover,
.main-header-panel-basket:focus {
  color: #ffffff;
  background-color: #212a3a;
}

.search-input:focus {
  color: #000000;
  background-color: #ffffff;
}
/*
.icon-search,
.icon-bookmark,
.icon-basket {
  opacity: 0.3;
  background-color: transparent;
}

.icon-search:hover {
  opacity: 1;
  background-color: transparent;
}

.icon-search:active {
  opacity: 0.5;
  background-color: transparent;
}

.icon-search:focus path {
  opacity: 1;
  fill: #ee3643;
}

.main-header-panel-bookmarks:hover .icon-bookmark {
  opacity: 1;
  background-color: transparent;
}

.main-header-panel-basket:hover .icon-basket {
  opacity: 1;
  background-color: transparent;
}
*/
.main-header-panel-bookmarks:active,
.main-header-panel-basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}
/*
.main-header-panel-bookmarks:active .icon-bookmark,
.main-header-panel-basket:active .icon-basket{
  opacity: 0.5;
  background-color: transparent;
}
*/

.main-header-panel-makeorder {
  color: #ffffff;
  background-color: #63a63e;
}

.main-header-panel-makeorder:hover,
.main-header-panel-makeorder:focus {
  color: #ffffff;
  background-color: #5fbb2d;
}

.main-header-panel-makeorder:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

/*--- Средняя панель в хейдере ---*/

.main-header-middle {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;

  color: #000000;
  background-color: #f4f7f9;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 40px;
}

.main-header-middle-descriptoin {
  margin: 0;
  padding: 0;

  width: 270px;

  font-family: inherit;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;

  color: #ee3643;
}

.main-header-middle-info,
.user-navigation {
  width: 270px;

  /* временные границы */
  background-color: rgba(192, 127, 15, 0.2);
  box-shadow: 0 0 2px rgba(47, 228, 23, 0.548);
}

.main-header-middle-tel {
  margin: 0;
  padding: 0;

  font: inherit;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.main-header-middle-address {
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: 14px;
  line-height: 24px;

  color: #32425c;
}

.user-navigation,
.site-navigation {
  list-style: none;

  margin: 0;
  padding: 0;
}

.user-navigation-login {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 299px;

  /* временные границы */
  background-color: rgba(192, 127, 15, 0.2);
  box-shadow: 0 0 2px rgba(47, 228, 23, 0.548);
}

.user-navigation-login .user-navigation-item:first-child {
  width: 100%;
}

.user-navigation-login .user-navigation-item:not(:last-child) {
  list-style-type: none;
}

.user-navigation-login .user-navigation-item:nth-child(2) {
  margin-right: 30px;
}

.user-navigation {
  color: #000000;
}

.user-navigation-item {
  color: #32425c;
}

.user-navigation-login-link,
.user-navigation-registration-link,
.user-navigation-profile-link {
  font: inherit;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation-orders,
.user-navigation-privatearea {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-navigation-orders:hover,
.user-navigation-orders:focus,
.user-navigation-privatearea:hover,
.user-navigation-privatearea:focus {
  color: #ee3643;
}

.user-navigation-orders:active,
.user-navigation-privatearea:active {
  opacity: 0.3;
}

.user-navigation-login-link:hover,
.user-navigation-login-link:focus,
.user-navigation-registration-link:hover,
.user-navigation-registration-link:focus {
  color: #ee3643;
  background-color: #ffffff;
}

.user-navigation-login-link:hover path,
.user-navigation-login-link:focus path {
  fill: #32425c;
}

.user-navigation-login-link:active,
.user-navigation-registration-link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.site-navigation {
  font-family: inherit;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;

  display: flex;
  flex-wrap: wrap;
}

.site-navigation-item {
  flex-grow: 1;
}

.site-navigation-link {
  display: block;
  width: 100%;
  min-height: 40px;
  padding-top: 20px;
  text-align: center;
}

.site-navigation .site-navigation-link {
  font: inherit;
  color: #ffffff;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  background-color: #293449;
}

.site-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/*--- Хлебные крошки ---*/
.breadcrumps {
  list-style: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  bottom: 0;

  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.breadcrumps-link {
  color: inherit;
  margin-right: 15px;
}

/*--- Промо-блок ---*/

.promo-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.promo-list,
.promo-slider-list,
.promo-offers-list {
  list-style: none;

  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;

  color: #ffffff;

  /*временный фон*/
  /*background-color: #000000;*/
}

.promo-list {
  width: 620px;
  margin-right: 20px;

  display: flex;
  flex-wrap: wrap;
}

.promo-item {
  flex-grow: 1;
  margin-bottom: 20px;
}

.promo-item:first-child {
  margin-right: 20px;
}

.promo-offers-list {
  flex-grow: 1;
}

.promo-list .promo-item-title,
.promo-offers-list .promo-item-title {
  font-family: inherit;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-slider-list .promo-slider-header {
  font-family: inherit;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

  /*временный фон*/
  background-color: #000000;
}

.promo-slider-list .promo-slider-p {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  /*временный фон*/
  background-color: #000000;
}

.btn-promo {
  width: 135px;
  height: 38px;
  border-radius: 3px;

  background-color: rgba(0, 0, 0, 0.1);
}

.btn-promo:hover,
.btn-promo:focus {
  opacity: 0.2;
}

.btn-promo:active {
  opacity: 0.3;
}

.promo-slider-btn-open {
  display: inline-block;

  width: 195px;
  height: 38px;
  border-radius: 3px;

  background-color: #ee3643;
}

.promo-list .promo-item:first-child {
  background-color: #ffbf47;
  }

.promo-list .promo-item:nth-child(2) {
  background-color: #3bbce3;
}

.promo-offers-item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid transparent;
}

.promo-offers-list .promo-offers-item:first-child {
  background-color: #dc91d8;
}

.promo-offers-list .promo-offers-item:nth-child(2) {
  background-color: #8ed78f;
}

.promo-offers-list .promo-offers-item:last-child {
  background-color: #ffc047;
}

/*--- Блоки разделов и кнопки (в т.ч. кнопка слайдера ---*/

.caption-of-caticory {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  padding: 0 auto;

  color: #32425c;
  background-color: #f9f5f0;

  margin: 0;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 89px;
}

.caption-of-category-text {
  margin-left: 30px;
}

.caption-of-category-btn {
  display: inline-block;
  width: 253px;
  height: 38px;
  margin-right: 24px;
  border-radius: 3px;

  font-family: inherit;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: inherit;

  color: #ffffff;
  background-color: #ee3643;
}

.catalog-caption-category {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;

  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 20px;
  padding-top: 29px;
  padding-left: 30px;
  padding-bottom: 30px;

  color: #32425c;
  background-color: #f2f6f8;
}

/*--- Раздел популярные товары ---*/
/* в т.ч. раздел товаров в каталоге */

.сatalog {
  width: 700px;
}

.goods-list {
   list-style: none;

   margin: 0;
   margin-bottom: 52px;
   padding: 0;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.goods-item {
  margin-bottom: 20px;
  width: 220px;
}

.goods-item-card {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;

  height: 100%;
  border: 1px solid #e5e5e5;

  color: #000000;
  background-color: #ffffff;
}

.goods-item-card .goods-item-title {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.goods-item-price-old {
  font-family: inherit;
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: inherit;

  text-align: center;
  color: #a9a9a9;
}

.goods-item-price-current {
  font-family: inherit;
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: inherit;

  position: relative;
  width: 141px;
  height: 38px;

  text-align: center;

  color: #ffffff;
  background-color: #ca2c37;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.goods-item-price-current::after {
  content: "";
  position: absolute;
  left: 122px;
  border: 19px solid #ca2c37;
  border-right: transparent;
  border-top-color: white;
  border-bottom-color: white;
}

.goods-item-card:hover,
.goods-item-card:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.goods-item-btn-buy {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.goods-item-btn-buy:hover,
.goods-item-btn-buy:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.goods-item-btn-buy:active {
  background-color: #518534;
}

.goods-item-btn-inbookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.goods-item-btn-inbookmarks:hover,
.goods-item-btn-inbookmarks:focus {
  border: 3px solid #32425c;
  background-color: #ffffff;
}

.goods-item-btn-inbookmarks:active {
  opacity: 0.3;
  border: 3px solid #32425c;
  background-color: #ffffff;
}

/*--- Раздел популярные производители ---*/
.manufacturers-list {
  list-style: none;

  margin: 0;
  margin-bottom: 85px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  min-height: 310px;
}

.manufacturers-item {
  width: 220 px;
  margin-bottom: 20px;
}

.manufacturers-link {
  display: block;
  width: 220px;
  height: 145px;
  text-align: center;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.manufacturers-link:hover,
.manufacturers-link:focus {
  background-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-link:active {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

/*--- Раздел сервисов ---*/

.services-wrapper {
  width: 100%;
  background-color: #f4f8fa;
}

.services {
  margin-bottom: 82px;
  padding-top: 68px;

  color: #000000;
  background-color: #f4f8fa;
}

.services-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.service-p {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;

  width: 430px;
  margin-bottom: 74px;
}

.services-flex {
  display: flex;
}

.service-list {
  margin-right: 80px;
}

.service-list,
.service-sublist {
  list-style: none;
  padding: 0;
}

.service-button {
  width: 240px;
  height: 61px;
  border: 0;

  text-align: left;
  padding-left: 23px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  color: #ffffff;
  background-color: #32425c;
}

.service-sublist {
  flex-grow: 1;
}

.sublist-item-title {
  margin-top: 0;
}

.service-sublist-item-p {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;

  width: 275px
}

.service-item-current .service-button,
.service-button:hover,
.service-button:focus {
  color: #32425c;
  background-color: #ffffff;
}

.service-sublist .sublist-item-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;

  color: #32425c;
}

.sublist-item-delivery {
  background-color: inherit;
  background-image: url("../img/background-delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.sublist-item-warranty {
  background-color: inherit;
  background-image: url("../img/background-warranty.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.sublist-item-credit {
  background-color: inherit;
  background-image: url("../img/background-credit.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.btn-credit {
  display: inline-block;
  width: 195px;
  height: 38px;
  border-radius: 3px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: inherit;

  color: #ffffff;
  background-color: #ee3643;
}

/*--- Разделы о нас и контакты ---*/

.inform-flex {
  display: flex;
  margin-bottom: 86px;
}

.about-us,
.contacts {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.about-us {
  margin-right: 100px;
}

.about-us-title,
.contacts-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;

  color: #000000;
}

.about-us-p {
  margin-bottom: 30px;
}

.company-delivery-list {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;

  color: #000000;

  list-style: none;
}

.company-delivery-item {
  margin-bottom: 24px;
}

.company-delivery-btn {
  display: block;
  width: 220px;
  margin-top: 40px;
  padding: 10px 0;
  border-radius: 3px;
}

.company-delivery-btn,
.contacts-btn {
  background-color: #ee3643;
}

.company-delivery-btn:hover,
.company-delivery-btn:focus,
.contacts-btn:hover,
.contacts-btn:focus {
  background-color: #ca2c37;
}

.company-delivery-btn:active,
.contacts-btn:active {
  background-color: #ba2732;
}

.contacts-p {
  margin-bottom: 36px;
}

.contacts-btn {
  display: block;
  width: 100%;
  margin-top: 40px;
  padding: 10px 0;
  border-radius: 3px;
}

/*--- Футер ---*/

.main-footer{
  color: #f1f5f7;
  background-color: #32425c;
}

.footer-top,
.footer-middle {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 32px;
}

.footer-middle {
  margin-bottom: 53px;
}

.footer-middle-p {
  margin: 0;
  padding: 0;
}

.footer-top-nav-list,
.footer-promo-navigation {
  list-style: none;
}

.footer-top-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  width: 555px;

}

.footer-top-nav-item {
  margin-top: 42px;
}

.footer-top-nav-item:not(:first-child),
.footer-promo-item:not(:first-child) {
  margin-left: 10px;
}

.footer-site-link {
  color: #f1f5f7;
  background-color: #32425c;
}

.footer-site-link:hover,
.footer-site-link:focus {
  text-decoration-line: underline;
}

.footer-site-link:active {
  text-decoration-line: none;
  color: rgba(241, 245, 247, 0.5);
}


.footer-promo-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  width: 530px;
}

.footer-promo-link {
  color: #ffd180;
  background-color: #32425c;
}

.footer-promo-link:hover,
.footer-promo-link:focus {
  text-decoration-line: underline;
}

.footer-promo-link:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;

  padding: 31px 0 30px;

  background-color: #293449;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list {
  list-style: none;

  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.social-item {
  margin: 0 3px;
}

.social-link {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;

  background-color: #212a3a;
}

.social-item:first-child .social-link {
  background-image: url('../img/icon-vk.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-item:nth-child(2) .social-link {
  background-image: url('../img/icon-fb.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-item:last-child .social-link {
  background-image: url('../img/icon-insta.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #ee3643;
}

.footer-link,
.developedby-link {
  color: #ffd180;
}

.footer-link:hover,
.footer-link:focus,
.developedby-link:hover,
.developedby-link:focus {
  text-decoration-line: underline;
}

.footer-link:active,
.developedby-link:active {
  text-decoration-line: none;
  color: #ee3643;
}


.copyright {
  margin: 0;
  padding: 0;
}

.feedback,
.developedby {
  margin: 0;
  padding: 0;
}

.feedback {
  margin-right: 50px;
  width: 140px;
}

.developedby {
  width: 110px;
}

/*--- Фильтр ---*/

.filters {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  width: 220px;

  color: #000000;
  background-color: #ffffff;
}

.filter-title {
  font: inherit;
  background-color: #f7f3ec;
}

.price-title,
.manufacturers-title,
.energy-title {
  font-family: inherit;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.energy-title {
  letter-spacing: 0.2px;
}

.filter-by-price,
.filter-by-manufacturers,
.filter-by-energy {
  border: none;
}

.filter-by-price,
.filter-by-manufacturers {
  border-bottom: 1px solid #e5e5e5;
}

.filter-list {
  list-style: none;
}

.btn-show {
  font: inherit;

  width: 140px;
  height: 38px;

  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.btn-show:hover,
.btn-show:focus {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #bdc6ca;
  outline: none;
}

.btn-show:active {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ee3643;
  outline: none;
}

/*--- Секция сортировки ---*/

.sorting {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  width: 700px;

  color: #000000;
  background-color: #f7f3ec;
}

.sorting-list {
  list-style: none;
}

.sorting-link  {
  color: inherit;
  opacity: 0.3;
  border-bottom: 1px dashed rgba(238, 54, 67, 1);
}

.sorting-link-current {
  color: #ee3643;
  opacity: 1;
  border-bottom: none;
}

.sorting-link:hover,
.sorting-link:focus {
  color: #000000;
  opacity: 1;
  border-bottom: 1px solid rgba(238, 54, 67, 1);
}

.sorting-link:active {
  color: #ee3643;
  border-bottom: none;
}

.catalog-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*--- Пагинация ----*/

.pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;

  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;

  color: #000000;
  background-color: #ffffff;

  display: flex;
  flex-wrap: wrap;
}

.pagination-link {
  font: inherit;

  color: inherit;
  background-color: inherit;

  border: 1px solid #e5e5e5;
}

.pagination-link:hover,
.pagination-link:focus {
  border: 1px solid #bdc6ca;
}

.pagination-link:active {
  border: 1px solid #ee3643;
}

.pagination-item-current .pagination-link {
  color: #ffffff;
  background-color: #ee3643;

  border: none;
}

.сatalog {
  margin-bottom: 60px;
}

/*--- О продукте ---*/

.about-product {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  padding-top: 67px;
  padding-bottom: 73px;

  color: #000000;
  background-color: #f2f6f8;
}

.about-product-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.about-product-p {
  margin: 0;
  padding: 0;
}

/*--- Модальные формы ---*/

.button-close {
  width: 21px;
  height: 21px;
  border: 0;
  background-color: transparent;
  background-image: url('../img/icon-close.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

/* модальная форма Карта */
.fullmap-form {
  position: relative;
  top: 9px;
  right: 9px;
}

.fullmap-picture {
  box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);
}

.fullmap-btn-close {
  position: absolute;
  top: 9px;
  right: 9px;
}

/* модальная форма Обратная связь */
.write-us {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  margin: 40px auto;
}

.write-us-form {
  position: relative;
  margin: 0 auto;
  padding-top: 45px;
  width: 620px;


  border-top: 7px solid #ff5357;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  width: 460px;
}

.write-us-user,
.write-us-email {
  margin: 0;
  padding: 0;
  width: 220px;
}

.write-us-input,
.text-of-letter {
  box-sizing: border-box;
  width: 100%;
  margin-top: 13px;
}

.text-of-letter {
  margin-top: 16px;
  margin-bottom: 37px;
}

.btn-wrapper {
  margin: 0;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.write-us-btn-send {
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  border: 0;
  width: 100%;
  height: 38px;
}

.write-us-btn-send:hover,
.write-us-btn-send:focus {
  background-color: #ca2c37;
}

.write-us-btn-send:focus {
  background-color: #ba2732;
}

.write-us-btn-close {
  position: absolute;
  top: 9px;
  right: 9px;
}

/* модальная форма Информация о товаре */
.order-info {
  position: relative;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;

  margin:0 auto 30px;
  width: 620px;
  height: 282px;

  color: #000000;
  background-color: #ffffff;

  box-shadow: inset 0px 7px 0 0 #e33643,
              0px 20px 40px 0 rgba(41, 52, 73, 0.75);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.order-info-btn-close {
  position: absolute;
  top: 9px;
  right: 9px;
}

.order-info-wrapper {
  margin: 0 auto;
  padding-top: 70px;
  width: 460px;
}

.order-info-p {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 30px;
  line-height: 30px;
}

.order-info-buttons {
  margin:0;
  padding: 37px 80px;

  background-color: #f1f1f1;
}

.order-info-btn-issueorder,
.order-info-btn-continue {
  width: 220px;
  height: 38px;
  border-radius: 3px;
}

.order-info-btn-issueorder {
  margin-right: 16px;
  font: inherit;
  background-color: #ee3643;
}

.order-info-btn-issueorder:hoever,
.order-info-btn-issueorder:fouces {
  background-color: #ca2c37;
}

.order-info-btn-issueorder:active {
  background-color: #ba2732;
}

.order-info-btn-continue {
  font: inherit;

  color: #000000;
  background-color: #ffffff;
}

.order-info-btn-continue:hover,
.order-info-btn-continue:focus {
  opacity: 0.85;
  background-color: #ffffff;
}
