@keyframes _animationMap {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80% {
    transform: scale(1.15);
  }
  90% {
    transform: scale(0.90);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

body {
  margin: 0;
  padding: 0;

  min-width: 960px;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}


.visually-hidden /*:not(:focus):not(:active)*/ {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;

  box-sizing: border-box;
}

.main-header {
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.main-page .main-header {
  margin-bottom: 59px;
}

.inner-page .main-header {
  margin-bottom: 20px;
}

/*--- Верхняя панель в хейдере ---*/

.main-header-panel {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
}

.main-header-panel {
  margin-bottom: 46px;
  display: flex;
  flex-wrap: wrap;
}

.main-header-wrapper {
  width: 100%;
  background-color: #293449;
}

.search-input,
.main-header-panel-bookmarks,
.main-header-panel-bookmarks-num,
.main-header-panel-basket,
.main-header-panel-basket-num,
.main-header-panel-makeorder {
  color: inherit;
  background-color: inherit;
}

.search-form {
  flex-grow: 1;

  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}

.search-input {
  border: 0;
  flex-grow: 1;
  outline: none;
}

.search-label {
  padding: 12px 14px 0 17px;
}

.icon-search {
  opacity: 0.3;
  fill: #ffffff;
  background-color: transparent;
}

.search-input::placeholder {
  fill: #ffffff;
  opacity: 1;
}

.search-input:hover,
.search-input:hover ~ .search-label {
  color: #ffffff;
  background-color: #212a3a;
}

.search-input:hover ~ .search-label .icon-search {
  opacity: 1;
  background-color: transparent;
}

.search-input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-input:focus ~ .search-label {
  background-color: #ffffff;
}

.search-input:focus + .search-label .icon-search {
  opacity: 1;
  fill: #ee3643;
}

.search-input:active + .search-label .icon-search {
  opacity: 0.5;
  background-color: transparent;
}

.main-logo,
.bookmarks-no-empty {
  color: #ffffff;
  background-color: #ee3643;
}

.main-header-panel-bookmarks,
.main-header-panel-basket,
.main-header-panel-makeorder {
  box-sizing: border-box;
  padding: 12px 0;
  width: 150px;
}

.main-header-panel-makeorder {
  text-align: center;
}

.main-header-panel-bookmarks {
  position: relative;
  padding-left: 44px;
}

.main-header-panel-bookmarks::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 12px;

  width: 14px;
  height: 17px;
  opacity: 0.3;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-panel-basket {
  position: relative;
  padding-left: 49px;
}

.main-header-panel-basket::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 12px;

  width: 15px;
  height: 15px;
  opacity: 0.3;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-panel-bookmarks:hover::before,
.main-header-panel-bookmarks:focus::before,
.main-header-panel-basket:hover::before,
.main-header-panel-basket:focus::before {
  content: "";
  opacity: 1;
}

.main-header-panel-bookmarks:active::before,
.main-header-panel-basket:active::before {
  content: "";
  opacity: 0.5;
}

.main-logo {
  margin-bottom: -5px;
  padding: 13px 0 11px;
  width: 220px;
  text-align: center;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.logo-footer {
  padding: 20px 0px 18px;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.main-logo:hover,
.main-logo:focus {
  color: #ffffff;
  background-color: #ca2c37;
}

.main-logo:active {
  color: #ffffff;
  background-color: #ba2732;
}

.search-input:hover,
.main-header-panel-bookmarks:hover,
.main-header-panel-bookmarks:focus,
.main-header-panel-basket:hover,
.main-header-panel-basket:focus {
  color: #ffffff;
  background-color: #212a3a;
}

.search-input:focus {
  color: #000000;
  background-color: #ffffff;
}
/*
.icon-search,
.icon-bookmark,
.icon-basket {
  opacity: 0.3;
  background-color: transparent;
}

.main-header-panel-bookmarks:hover .icon-bookmark {
  opacity: 1;
  background-color: transparent;
}

.main-header-panel-basket:hover .icon-basket {
  opacity: 1;
  background-color: transparent;
}
*/
.main-header-panel-bookmarks:active,
.main-header-panel-basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}
/*
.main-header-panel-bookmarks:active .icon-bookmark,
.main-header-panel-basket:active .icon-basket{
  opacity: 0.5;
  background-color: transparent;
}
*/

.main-header-panel-makeorder {
  color: #ffffff;
  background-color: #63a63e;
}

.main-header-panel-makeorder:hover,
.main-header-panel-makeorder:focus {
  color: #ffffff;
  background-color: #5fbb2d;
}

.main-header-panel-makeorder:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

/*--- Средняя панель в хейдере ---*/

.main-header-middle {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;

  color: #000000;
  background-color: #f4f7f9;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin-bottom: 39px;
}

.main-header-middle-descriptoin {
  margin: 0;
  padding: 0;
  padding-top: 3px;

  width: 200px;

  font-family: inherit;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;

  color: #ee3643;
}

.main-header-middle-info {
  margin-left: 68px;
  width: 270px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header-middle-descriptoin,
.main-header-middle-info,
.user-navigation {
  /* временные границы */
  background-color: rgba(192, 127, 15, 0.2);
  box-shadow: 0 0 2px rgba(47, 228, 23, 0.548);
}

.main-header-middle-tel {
  margin: 0;
  margin-bottom: 4px;
  padding: 10px 0 8px 71px;

  font: inherit;
  color: #ee3643;
  border: 3px solid #ffffff;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 12px 10px;
}

.main-header-middle-address {
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: #32425c;
}

.user-navigation,
.site-navigation {
  list-style: none;

  margin: 0;
  padding: 0;
}

.user-navigation-login {
  margin: 0;
  margin-left: 50px;
  padding: 0;
  width: 299px;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  /* временные границы */
  background-color: rgba(192, 127, 15, 0.2);
  box-shadow: 0 0 2px rgba(47, 228, 23, 0.548);
}

.user-general-panel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 100%;
  height: 45px;
  margin-bottom: 1px;

  background-color: #ffffff;
}

.user-navigation-login .user-navigation-item:nth-child(2) {
  margin-left: 18px;
  margin-right: 32px;
}
/* пришлось запретить перенос в 3м пункте */
.user-navigation-login .user-navigation-item:nth-child(3) {
  white-space: nowrap;
  position: relative;
}

.user-navigation-login .user-navigation-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -17px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.user-navigation-login .user-navigation-orders,
.user-navigation-login .user-navigation-privatearea {
  text-decoration: underline;
  /* border-bottom: 1px solid #32425c; */
}

.user-navigation {
  margin-left: 69px;
  width: 281px;
  color: #000000;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-navigation-item {
  color: #32425c;
}

.user-navigation-login-link,
.user-navigation-registration-link,
.user-navigation-profile-link {
  font: inherit;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation-login-link {
  position: relative;
  padding: 12px 26px 13px 47px;
}

.icon-login {
  position: absolute;

  width: 20px;
  height: 20px;

  top: 13px;
  left: 14px;

  fill: #c5c5c5;
}

.user-navigation-registration-link {
  padding: 12px 24px 13px;
}

.user-navigation-profile-link {
  position: relative;
  padding-top: 12px;
  padding-left: 46px;
  padding-bottom: 5px;
  padding-right: 26px;
}

.user-navigation-logout-link {
  flex-grow: 1;
}

.icon-user {
  position: absolute;
  top: 13px;
  left: 13px;
  fill: #c5c5c5;
}

.icon-logout {
  margin-top: 14px;
  margin-left: 11px;
  fill: #c5c5c5;
}

.user-navigation-logout-link:hover .icon-logout,
.user-navigation-logout-link:focus .icon-logout,
.user-navigation-profile-link:hover .icon-user,
.user-navigation-profile-link:focus .icon-user {
  fill: #32425c;
}

.user-navigation-profile-link:active,
.user-navigation-logout-link:active {
  opacity: 0.3;
}


.user-navigation-orders,
.user-navigation-privatearea {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-navigation-orders:hover,
.user-navigation-orders:focus,
.user-navigation-privatearea:hover,
.user-navigation-privatearea:focus {
  color: #ee3643;
  /* border-bottom-color: #ee3643; */
}

.user-navigation-orders:active,
.user-navigation-privatearea:active {
  opacity: 0.3;
}

.user-navigation-login-link:hover,
.user-navigation-login-link:focus,
.user-navigation-registration-link:hover,
.user-navigation-registration-link:focus {
  color: #ee3643;
  background-color: #ffffff;
}

.user-navigation-login-link:hover .icon-login,
.user-navigation-login-link:focus .icon-login {
  fill: #32425c;
}

.user-navigation-login-link:active,
.user-navigation-registration-link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.site-navigation {
  font-family: inherit;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;

  display: flex;
  flex-wrap: wrap;
}

.site-navigation .site-navigation-link {
  display: block;
  padding-top: 21px;
  padding-bottom: 23px;
  text-align: center;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;

  color: #ffffff;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation .site-navigation-item:first-child .site-navigation-link {
  padding-left: 52px;
  padding-right: 33px;
}

.site-navigation .site-navigation-item:nth-child(2) .site-navigation-link {
  padding-left: 30px;
  padding-right: 30px;
}

.site-navigation .site-navigation-item:nth-child(3) .site-navigation-link {
  padding-left: 30px;
  padding-right: 30px;
}

.site-navigation .site-navigation-item:nth-child(4) .site-navigation-link {
  padding-left: 30px;
  padding-right: 30px;
}

.site-navigation .site-navigation-item:nth-child(5) .site-navigation-link {
  padding-left: 29px;
  padding-right: 30px;
}

.site-navigation .site-navigation-item:nth-child(6) .site-navigation-link {
  padding-left: 31px;
  padding-right: 31px;
}

.site-navigation .site-navigation-item:nth-child(7) .site-navigation-link {
  padding-left: 32px;
  padding-right: 54px;
}


.site-navigation-link:hover,
.site-navigation-link:focus {
  background-color: #293449;
}

.site-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/*--- Хлебные крошки ---*/
.breadcrumps {
  list-style: none;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  font-family: 'PTSans', Arial, sans-serif;
  font-size: 12px;
  line-height: 17.5px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.breadcrumps-link {
  color: inherit;
  margin-right: 16px;
}

.breadcrumps-item:first-child .breadcrumps-link {
  display: inline-block;

  width: 15px;
  text-indent: -2000px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: -2px 2px;
}

.breadcrumps-item:not(:first-child) {
  position: relative;
}

.breadcrumps-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumps-item:not(:last-child) {
  margin-right: 23px;
}



/*--- Промо-блок ---*/

.promo-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 32px;
}

.promo-list,
.promo-slider-list,
.promo-offers-list {
  list-style: none;

  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;

  color: #ffffff;

  /*временный фон*/
  /*background-color: #000000;*/
}

.promo-list {
  width: 620px;
  margin-right: 20px;

  display: flex;
  flex-wrap: wrap;
}

.promo-item {
  position: relative;
  flex-grow: 1;
  margin-bottom: 20px;
}

.promo-item .flag {
  position: absolute;
  width: 60px;
  height: 59px;

  text-indent: -1000px;
  top: 0px;
  right: 0px;

  overflow: hidden;
  z-index: 10;
}

.flag-new {
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-item:first-child {
  margin-right: 20px;
}

.promo-offers-list {
  flex-grow: 1;
}

.promo-list .promo-item-title,
.promo-offers-list .promo-item-title {
  font-family: inherit;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-list .promo-item-title {
  margin: 20px 0 13px 22px;
}

.promo-offers-list .promo-item-title {
  margin: 19px 0 13px 22px;
}

.promo-slider-list {
  width: 620px;
}

.promo-slider-list .promo-slider-header {
  font-family: inherit;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

  margin: 23px 0 0 24px;
  text-transform: uppercase;

  /*временный фон*/
  /* background-color: #000000; */
}

.promo-slider-list .promo-slider-p {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  margin: 3px 0 0 25px;

  /*временный фон*/
  /* background-color: #000000; */
}

.promo-slider-item {
  position: relative;
}

.promo-slider-item:not(:first-child) {
  display: none;
}

.promo-slider-picture {
  position: absolute;
  top: -23px;
  left: 0;
  z-index: -1;
}

.btn-promo {
  width: 135px;
  /* height: 38px; */
  border-radius: 3px;

  margin-left: 25px;
  margin-bottom: 23px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgba(0, 0, 0, 0.1);
}

.btn-promo:hover,
.btn-promo:focus {
  opacity: 0.2;
}

.btn-promo:active {
  opacity: 0.3;
}

.promo-offers-list .btn-promo {
  margin-left: 22px;
  margin-bottom: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.promo-slider-btn-open {
  display: inline-block;

  padding-top: 10px;
  padding-bottom: 10px;
  width: 195px;
  border-radius: 3px;

  position: absolute;
  top: 206px;
  left: 25px;

  background-color: #ee3643;
}

.promo-slider-btnleft,
.promo-slider-btnright {
  position: absolute;
  display: block;
  top: 116px;

  width: 22px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-slider-btnleft {
  background-image: url("../img/icon-left.svg");
  left: 25px;
}

.promo-slider-btnright {
  background-image: url("../img/icon-right.svg");
  right: 20px;
}

.slider-indicator-list {
  position: absolute;
  top: 206px;
  left: 295px;
}

.promo-list .promo-item:first-child {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 212px 30px;
  background-size: 46px 66px;
  }

.promo-list .promo-item:nth-child(2) {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px 30px;
  background-size: 75px 66px;
}

.promo-offers-item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid transparent;
}

.promo-offers-list .promo-offers-item:first-child {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 190px 22px;
  background-size: 78px 78px;
}

.promo-offers-list .promo-offers-item:nth-child(2) {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 191px 24px;
  background-size: 67px 72px;
}

.promo-offers-list .promo-offers-item:last-child {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 190px 28px;
  background-size: 78px 66px;
}

/*--- Блоки разделов и кнопки (в т.ч. кнопка слайдера ---*/

.caption-of-caticory {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  color: #32425c;
  background-color: #f9f5f0;

  margin: 0;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caption-of-category-populargoods {
  margin-left: 28px;
  margin-top: 30px;
  margin-bottom: 29px;
}

.caption-of-category-manufacturers {
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 29px;
}

.caption-of-category-btn {
  display: inline-block;
  min-width: 243px;
  margin-top: -2px;
  margin-right: 24px;
  border-radius: 3px;

  font-family: inherit;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: inherit;

  color: #ffffff;
  background-color: #ee3643;
}

.goods-btn {
  padding: 11px 5px 10px;
}

.manufacturers-btn {
  padding: 10px 5px 11px;
}

.catalog-caption-category {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 20px;
  padding: 29px 0 29px 28px;

  color: #32425c;
  background-color: #f2f6f8;
}

/*--- Раздел популярные товары ---*/
/* в т.ч. раздел товаров в каталоге */

.сatalog {
  width: 700px;
}

.goods-list {
   list-style: none;

   margin: 0;
   margin-bottom: 1px;
   padding: 0;

   min-height: 336px;

   display: flex;
   flex-wrap: wrap;
   /* justify-content: space-between; */
}

.inner-page .goods-list {
  margin-bottom: 44px;
}

.goods-item {
  margin-right: 20px;
  margin-bottom: 23px;
  width: 220px;
}

.inner-page .goods-item:nth-child(3n) {
  margin-right: 0;
}

.main-page .goods-item:nth-child(4n) {
  margin-right: 0;
}

.goods-item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;

  height: 100%;
  border: 1px solid #e5e5e5;

  color: #000000;
  background-color: #ffffff;
}

.goods-item-card .flag {
  position: absolute;
  width: 60px;
  height: 59px;

  text-indent: -1000px;
  top: -1px;
  right: -1px;

  overflow: hidden;
  z-index: 20;
}


.goods-item-action-bottons {
  display: none;
  position: absolute;
  top: -12px;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
}

.goods-item-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  margin-top: 5px;
}

.goods-item-picture {
  max-width: 100%;
  margin-bottom: 35px;
}

.goods-item-card .goods-item-title {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;

  min-height: 40px;
  /* padding: 0 17px; */
  margin-top: 0px;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 30px;
  letter-spacing: -1px;
}

.goods-item-price-old {
  font-family: inherit;
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: inherit;

  margin-top: -4px;
  margin-bottom: 8px;

  text-transform: uppercase;
  text-decoration: line-through;
  text-align: center;
  color: #a9a9a9;


}

.goods-item-price-current {
  font-family: inherit;
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: inherit;

  position: relative;
  margin: auto 0 18px 42px;
  padding: 10px 0px 11px;
  width: 141px;

  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  background-color: #ca2c37;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.goods-item-price-current::after {
  content: "";
  position: absolute;
  top: 0;
  left: 122px;
  border: 19px solid #ca2c37;
  border-right: transparent;
  border-top-color: white;
  border-bottom-color: white;
  border-bottom-width: 20px;
}

.goods-item-card:hover,
.goods-item-card:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.goods-item-card:hover .goods-item-action-bottons,
.goods-item-card:focus .goods-item-action-bottons {
  display: initial;
}

.goods-item-btn-buy,
.goods-item-btn-inbookmarks {
  display: block;
  width: 135px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 9px 0 10px;
}

.goods-item-btn-buy {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  border-radius: 3px;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.goods-item-btn-buy:hover,
.goods-item-btn-buy:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.goods-item-btn-buy:active {
  background-color: #518534;
}

.goods-item-btn-inbookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: #32425c;
  border-radius: 3px;
  background-color: #ffffff;
  /* border: 3px solid #63a63e; */
  box-shadow: inset 0 0 0 2px #63a63e;
}

.goods-item-btn-inbookmarks:hover,
.goods-item-btn-inbookmarks:focus {
  /* border: 3px solid #32425c; */
  box-shadow: inset 0 0 0 2px #32425c;
  background-color: #ffffff;
}

.goods-item-btn-inbookmarks:active {
  opacity: 0.3;
  /* border: 3px solid #32425c; */
  box-shadow: inset 0 0 0 2px #32425c;
  background-color: #ffffff;
}

.catalog-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*--- Раздел популярные производители ---*/
.manufacturers-list {
  list-style: none;

  margin: 0;
  margin-bottom: 65px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  min-height: 310px;
}

.manufacturers-item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.manufacturers-item:nth-child(4n) {
  margin-right: 0;
}

.manufacturers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 218px;
  height: 143px;
  text-align: center;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.manufacturers-link:hover,
.manufacturers-link:focus {
  background-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-link:active {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/*--- Раздел сервисов ---*/

.services-wrapper {
  width: 100%;
  background-color: #f4f8fa;
}

.services {
  margin-bottom: 54px;
  padding-top: 40px;

  color: #000000;
  background-color: #f4f8fa;
}

.services-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.service-p {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.33px;

  color: #000000;

  width: 405px;
  margin-bottom: 53px;
}

.services-flex {
  display: flex;
}

.service-list {
  margin-right: 80px;
  position: relative;
}

.service-list::after {
  position: absolute;
  content: "";

  top: -42px;
  right: 0;

  width: 10px;
  height: 280px;

  background-image: url("../img/vertical-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-list,
.service-sublist {
  list-style: none;
  padding: 0;
}

.service-button {
  width: 240px;
  height: 61px;
  border: 0;

  text-align: left;
  padding-left: 23px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  color: #ffffff;
  background-color: #32425c;
}

.service-sublist {
  flex-grow: 1;
}

.sublist-item-title {
  margin-top: 0;
}

.service-sublist-item-p {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;

  margin: 0;
  width: 275px
}

.service-item-current .service-button,
.service-button:hover,
.service-button:focus {
  color: #32425c;
  background-color: #ffffff;
}

.service-sublist .sublist-item-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -0.7px;

  margin-bottom: 24px;

  color: #32425c;
}

.service-sublist-item {
  min-height: 269px;
}

.sublist-item-delivery {
  background-color: inherit;
  background-image: url("../img/background-delivery.png");
  background-repeat: no-repeat;
  background-position: 151px 23px;
}

.sublist-item-warranty {
  display: none;
  background-color: inherit;
  background-image: url("../img/background-warranty.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.sublist-item-credit {
  display: none;
  background-color: inherit;
  background-image: url("../img/background-credit.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.btn-credit {
  display: inline-block;
  width: 195px;
  height: 38px;
  border-radius: 3px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: inherit;

  color: #ffffff;
  background-color: #ee3643;
}

/*--- Разделы о нас и контакты ---*/

.inform-flex {
  display: flex;
  margin-bottom: 72px;
}

.about-us,
.contacts {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.about-us {
  margin-right: 100px;
}

.about-us-title,
.contacts-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.8px;

  color: #000000;
}

.about-us-p {
  margin-bottom: 25px;
}

.about-us-p + .about-us-p {
  margin-bottom: 21px;
  width: 475px;
}

.company-delivery-list {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;

  margin-bottom: 37px;
  padding-left: 37px;
  color: #000000;

  list-style: none;
}

.company-delivery-item {
  position: relative;
  margin-bottom: 20px;
}

.company-delivery-item::before {
  content: "";
  position: absolute;

  top: 9px;
  left: -37px;

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.company-delivery-btn {
  display: block;
  width: 220px;
  padding: 10px 0;
  border-radius: 3px;
}

.company-delivery-btn,
.contacts-btn {
  background-color: #ee3643;
}

.company-delivery-btn:hover,
.company-delivery-btn:focus,
.contacts-btn:hover,
.contacts-btn:focus {
  background-color: #ca2c37;
}

.company-delivery-btn:active,
.contacts-btn:active {
  background-color: #ba2732;
}

.contacts-p {
  margin-bottom: 32px;
  padding-right: 65px;
}

.contacts-map-picture {
  /* width: 100%; */
  margin-bottom: 20px;
}

.contacts-btn {
  display: block;
  margin: 0;
  /* width: 100%; */
  padding: 10px 0 10px 6px;
  border-radius: 3px;
}

/*--- Футер ---*/

.main-footer{
  color: #f1f5f7;
  background-color: #32425c;
}

.footer-top,
.footer-middle {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 33px;
}

.footer-middle {
  margin-bottom: 50px;
}

.footer-middle-p {
  margin: 0;
  margin-left: 4px;
  padding: 0;
}

.footer-top-nav-list,
.footer-promo-navigation {
  list-style: none;
}

.footer-top-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-top: -4px;
  padding: 0;
  width: 548px;

}

.footer-top-nav-item {
  margin-top: 42px;
}

.footer-top-nav-item:not(:first-child),
.footer-promo-item:not(:first-child) {
  margin-left: 10px;
}

.footer-site-link {
  color: #f1f5f7;
  background-color: #32425c;
}

.footer-site-link:hover,
.footer-site-link:focus {
  text-decoration-line: underline;
}

.footer-site-link:active {
  text-decoration-line: none;
  color: rgba(241, 245, 247, 0.5);
}


.footer-promo-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  width: 524px;
}

.footer-promo-link {
  color: #ffd180;
  background-color: #32425c;
}

.footer-promo-link:hover,
.footer-promo-link:focus {
  text-decoration-line: underline;
}

.footer-promo-link:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;

  padding: 31px 0 30px;

  background-color: #293449;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list {
  list-style: none;

  margin: 0 auto;
  padding: 0;
  padding-top: 4px;

  display: flex;
  flex-wrap: wrap;
}

.social-item {
  margin: 0 2.5px;
}

.social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: #212a3a;
}

.social-item:first-child .social-link {
  background-image: url('../img/icon-vk.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-item:nth-child(2) .social-link {
  background-image: url('../img/icon-fb.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-item:last-child .social-link {
  background-image: url('../img/icon-insta.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #ee3643;
}

.footer-link,
.developedby-link {
  color: #ffd180;
}

.footer-link:hover,
.footer-link:focus,
.developedby-link:hover,
.developedby-link:focus {
  text-decoration-line: underline;
}

.footer-link:active,
.developedby-link:active {
  text-decoration-line: none;
  color: #ee3643;
}


.copyright {
  margin: 0 30px 0 1px;
  padding: 0;
  width: 240px;
}

.feedback,
.developedby {
  margin: 0;
  padding: 0;
}

.feedback {
  margin-right: 50px;
  width: 140px;
}

.developedby {
  width: 110px;
}

/*--- Фильтр ---*/

.filters {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  width: 220px;

  color: #000000;
  background-color: #ffffff;
}

.filter-title {
  margin: 0;
  margin-bottom: 12px;
  padding: 11px 0 9px 18px;
  font: inherit;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.price-title,
.manufacturers-title,
.energy-title {
  font-family: inherit;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
}

.price-title {
  margin-bottom: 13px;
}

.manufacturers-title {
  margin-bottom: 15px;
}

.energy-title {
  letter-spacing: -0.7px;
  margin-bottom: 14px;
}

.range-body {
  width: 100%;
  height: 80px;
  border-radius: 3px;

  margin-bottom: 10px;
  padding: 39px 20px;
  box-sizing: border-box;

  background-color: #f7f3ec;
}

.range-scale {
  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.range-scale-current {
  position: relative;
  margin-left: 10px;
  width: 140px;
  height: 2px;

  background-color: #00ca74;
}

.range-sliders {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;

  box-shadow: 0 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.range-slider-min {
  left: -9px;
}

.range-slider-max {
  right: -9px;
}

.price-input {
  width: 95px;
  height: 35px;

  border: none;
  border-radius: 3px;

  font-family: 'PTSans', Arial, sans-serif;
  font-size: 17.5px;
  line-height: 17.5px;
  text-align: center;
  background-color: #f7f3ec;
}

.decorotive-dash {
  width: 10px;
  height: 1px;
  background-color: #444444;
}

.price-min-max-number {
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-by-price,
.filter-by-manufacturers,
.filter-by-energy {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-by-price {
  padding-bottom: 25px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-by-manufacturers {
  margin-bottom: 17px;
  padding-bottom: 2px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-by-energy {
  margin-bottom: 57px;
}

.filter-list {
  list-style: none;
  margin:0;
  padding: 0;
  padding-left: 34px;
}

.filter-item {
  position: relative;
  margin-bottom: 22px;
}

.filter-checkbox-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + .filter-checkbox-label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}



.filter-label-radio::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -35px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + .filter-label-radio::before {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:focus + .filter-checkbox-label::before,
.filter-input-radio:focus + .filter-label-radio::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.btn-show {
  font: inherit;

  width: 140px;
  height: 38px;

  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.btn-show:hover,
.btn-show:focus {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #bdc6ca;
  outline: none;
}

.btn-show:active {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ee3643;
  outline: none;
}

/*--- Секция сортировки ---*/

.sorting {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  margin-bottom: 20px;
  width: 700px;

  color: #000000;
  background-color: #f7f3ec;
  border-radius: 3px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.sorting-title {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: normal;

  margin: 0;
  margin-right: auto;
  padding: 11px 0 9px 18px;

  font-stretch: condensed;
  /* letter-spacing: 0.6px; */
}

.sorting-list {
  list-style: none;

  margin: 0;
  padding: 0;
  width: 480px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sorting-item:first-child {
  margin-left: 20px;
  margin-right: 70px;
}

.sorting-link-by-price {
  font-stretch: condensed;
  letter-spacing: 0.6px;
}

.sorting-item:nth-child(2) {
  margin-right: 65px;
}

.sorting-link-by-type {
  font-stretch: condensed;
  letter-spacing: 0.7px;
}

.sorting-item:nth-child(3) {
  margin-right: 46px;
}

.sorting-item:nth-child(4) {
  margin-right: 21px;
}

.sorting-link-by-functions {
  letter-spacing: -0.5px;
}

.arrow::before {
  content: "";
  display: inline-block;
  border: 10px solid #ee3643;
  border-left-width: 5px;
  border-right-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.sorting-link-arrowup::before {
  border-top-width: 0;
}

.sorting-link-arrodown::before {
  border-bottom-width: 0;
}

.sorting-link  {
  color: inherit;
  opacity: 0.3;
  border-bottom: 1px dashed rgba(238, 54, 67, 1);
}

.sorting-link-arrodown {
  opacity: 0.3;
}

.sorting-link-current {
  color: #ee3643;
  opacity: 1;
  border-bottom: none;
}

.sorting-link:hover,
.sorting-link:focus {
  color: #000000;
  opacity: 1;
  border-bottom: 1px solid rgba(238, 54, 67, 1);
}

.sorting-link:active {
  color: #ee3643;
  border-bottom: none;
}

/*--- Пагинация ----*/

.pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;

  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;

  color: #000000;
  background-color: #ffffff;

  display: flex;
  flex-wrap: wrap;
}

.pagination-link {
  /* font: inherit; */
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;

  margin-right: 10px;
  padding: 11px 14px;

  color: inherit;
  background-color: inherit;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item:last-child .pagination-link {
  padding: 10px 15px 10px 31px;
}

.pagination-link:hover,
.pagination-link:focus {
  border: 1px solid #bdc6ca;
}

.pagination-link:active {
  border: 1px solid #ee3643;
}

.pagination-item-current .pagination-link {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.сatalog {
  margin-bottom: 70px;
}

/*--- О продукте ---*/

.about-product {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  padding-top: 40px;
  padding-bottom: 56px;

  color: #000000;
  background-color: #f2f6f8;
}

.about-product-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.about-product-p {
  margin: 0;
  padding: 0;
  letter-spacing: -0.3px;
}

/*--- Модальные формы ---*/

.modal {
  display: none;
  position: fixed;

  z-index: 90; /*чтоб на модалках не появлялись разные слои*/
}

.modal-show {
  display: block;
}

.modal-error {
  animation: shake 0.6s;
}

.button-close {
  width: 21px;
  height: 21px;
  border: 0;
  background-color: transparent;
  background-image: url('../img/icon-close.svg');
  background-repeat: no-repeat;
  background-position: 50%;

  cursor: pointer;
  z-index: 3;
}

/* модальная форма Карта */
.modal-fullmap {
  top: 50px;
  left: 50%;
  margin-left: -460px;
}

.fullmap-form {
  position: relative;
  top: 9px;
  right: 9px;

  width: 940px;
  height: 446px;
  box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);

  animation-name: _animationMap;
  animation-duration: 0.8s;
  animation-timing-function: easy-out;
}

.fullmap-iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.fullmap-picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.fullmap-btn-close {
  position: absolute;
  top: 9px;
  right: 9px;
}

/* модальная форма Обратная связь */
.modal-write-us {
  top: 50px;
  left: 50%;

  margin: 0 auto;
  margin-left: -310px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

.write-us-form {
  position: relative;
  margin: 0 auto;
  padding-top: 45px;
  width: 620px;


  border-top: 7px solid #ff5357;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);

  animation-name: _animationMap;
  animation-duration: 0.8s;
  animation-timing-function: easy-out;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  width: 460px;
}

.write-us-user,
.write-us-email {
  margin: 0;
  padding: 0;
  width: 220px;
}

.write-us-input,
.text-of-letter {
  box-sizing: border-box;
  width: 100%;
  margin-top: 13px;
}

.text-of-letter {
  margin-top: 16px;
  margin-bottom: 37px;
}

.btn-wrapper {
  margin: 0;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.write-us-btn-send {
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  border: 0;
  width: 100%;
  height: 38px;
}

.write-us-btn-send:hover,
.write-us-btn-send:focus {
  background-color: #ca2c37;
}

.write-us-btn-send:focus {
  background-color: #ba2732;
}

.write-us-btn-close {
  position: absolute;
  top: 9px;
  right: 9px;
}

/* модальная форма Информация о товаре */
.modal-order-info {
  top: 50px;
  left: 50%;

  margin-left: -310px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;

  color: #000000;
  background-color: #ffffff;

  box-shadow: inset 0px 7px 0 0 #e33643,
              0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.order-info-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 620px;
  min-height: 282px;
}

.order-info-btn-close {
  position: absolute;
  top: 16px;
  right: 9px;
}

.order-info-wrapper {
  margin: 0 auto;
  padding-top: 70px;
  width: 460px;
}

.order-info-p {
  position: relative;
  margin: 0;
  margin-left: 130px;
  padding: 0;
  font-family: inherit;
  font-size: 30px;
  line-height: 30px;
}

.order-info-p::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -110px;

  display: inline-block;
  width: 66px;
  height: 66px;

  background-image: url("../img/checkbox-in-circle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.order-info-buttons {
  margin:0;
  padding: 37px 80px;

  background-color: #f1f1f1;
}

.order-info-btn-issueorder,
.order-info-btn-continue {
  width: 220px;
  border-radius: 3px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.order-info-btn-issueorder {
  margin-right: 16px;
  font: inherit;
  background-color: #ee3643;
}

.order-info-btn-issueorder:hoever,
.order-info-btn-issueorder:fouces {
  background-color: #ca2c37;
}

.order-info-btn-issueorder:active {
  background-color: #ba2732;
}

.order-info-btn-continue {
  font: inherit;

  color: #000000;
  background-color: #ffffff;
}

.order-info-btn-continue:hover,
.order-info-btn-continue:focus {
  opacity: 0.85;
  background-color: #ffffff;
}
